body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

.pokemon-info {
    margin-top: 20px;
}

#photo {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
